@model SubscriptionViewModel
@if (Model.Subscription.IsActive == true)
{
    <div class="text-center">
        <h2>Edit Subscription</h2>
        <p>Current Plan: @Model.Subscription.Plan.Name | $@Model.Subscription.Plan.Price / month</p>
        <p>@Model.Subscription.Plan.Description</p>
    </div>
}
else
{
    <h2 class="text-center">Reactivate Subscription</h2>
}
<div class="form-horizontal">
    <form method="post">
        <input type="hidden" asp-for="Subscription.SubscriptionId" />
        <input type="hidden" asp-for="Subscription.UserId" />
        <input type="hidden" asp-for="Subscription.ExpirationDate" />
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-4">

                <div class="form-group text-center">
                    <label asp-for="@Model.Subscription.User.Cards">Select your credit card</label>
                    <select asp-for="@Model.Subscription.CardId"
                        asp-items="@(new SelectList(Model.Subscription.User.Cards, "CardId", "CardNum"))"
                        class="form-control bg-secondary text-light"></select>
                    <span asp-validation-for="@Model.Subscription.Card"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center flex-column col-4">

                <div class="form-group text-center">
                    <label asp-for="@Model.Subscription.Plan">Select your new plan</label>
                    <select asp-for="@Model.Subscription.PlanId"
                        asp-items="@(new SelectList(Model.AllPlans, "PlanId", "Name"))"
                        class="form-control bg-secondary text-light"></select>
                    <span asp-validation-for="Subscription.Plan"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" role="button">Confirm</button>
            <a asp-controller="Home" asp-action="Profile" class="btn btn-success text-light" role="button">Cancel</a>
        </div>
    </form>
</div>