@model IEnumerable<Plan>
<div>
    <div class="btn-group">
        <a asp-controller="admin" asp-action="AddPlan" class="btn btn-primary" role="button">Add</a>
        <a asp-controller="admin" asp-action="RestorePlan" class="btn btn-secondary" role="button">Restore</a>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Max Downloads</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.MaxDownloads</td>
                <td><a asp-controller="admin" asp-action="edit-plan" asp-route-id="@item.PlanId">Edit</a> | <a
                    asp-controller="admin" asp-action="DeletePlanConfirm" asp-route-id="@item.PlanId">Delete</a></td>
            </tr>
        }
    </table>
</div>