@page "/itemscatalog"
@using NTC_Lego.Shared
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject CurrentPage currentPage

<PageTitle>Items Catalog</PageTitle>

@if (inventories == null)
{
    <p>Item Catalog is loading...</p>
}
else
{
     <!-- Cards for each individual item -->
    <div class="container d-flex flex-wrap">
        @foreach (var i in inventories)
        {
            <div class="card m-2">
                <div class="card-body">
                    <img src="@i.Image" onerror="this.src='https://static.bricklink.com/clone/img/no_image_err.png'" width="150">
                    <h3 class="card-title">@i.ItemId, (@i.InventoryItemPrice)</h3>
                    <p class="card-text">
                        @i.Item.ItemName
                    </p
                    <p>@i.QuantityTotal</p>
                    <div class="text-center">
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        }
        <!-- Table Pagination -->
        <div class="pagination-container">
            <input type="button" class="btn-lg btn" id="prev" @onclick="PrevPage" value="«" />
            @for (int i = curPage - 2; i <= curPage + 2; i++)
            {
                int j = i;
                @if (i > 0)
                {
                    if (i == curPage)
                    {
                        <span class="px-2" style="font-weight:bold; cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                    }
                    else
                    {
                        <span class="px-2" style="cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                    }
                }
            }
            <input type="button" class="btn-lg btn" id="next" @onclick="NextPage" value="»" />
        </div>
    </div>
}




