@page "/inventory"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject CurrentPage currentPage
@using NTC_Lego.Shared;

@attribute [Authorize(Roles = "Admin")]
<PageTitle>Inventory</PageTitle>

<div class="container">
    <!-- Create Button -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-modal">
        Add
    </button>

    <!-- Create Modal -->
    <div class="modal fade" id="add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Inventory</h5>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="modal-body">
                    <EditForm Model="inventoryAdd" OnValidSubmit="HandleInventoryAdd" class="w-100">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        @if (errorMessage != null)
                        {
                            <div class="alert alert-danger">@errorMessage</div>
                        }
                        <div class="form-group">
                            <label class="required form-label fw-bold" for="itemId">Item</label>
                            <InputText id="itemId" Value="@inventoryAdd.ItemId" ValueChanged="HandleItemChange" ValueExpression="() => inventoryAdd.ItemId" class="form-control"></InputText>
                            <ValidationMessage For="@(() => inventoryAdd.ItemId)" />
                        </div>
                        @if (!hideRest)
                        {
                            @if (colors == null)
                            {
                                <span>Colors loading...</span>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="colorId">Color</label>
                                    <InputSelect id="colorId" @bind-Value="inventoryAdd.ColorId" class="form-control">
                                        @foreach (var c in colors)
                                        {
                                            <option value="@c.ColorId">@c.ColorName</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => inventoryAdd.ColorId)" />
                                </div>
                            }

                            @if (locations == null)
                            {
                                <span>Locations loading...</span>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="binName">Bin (Warehouse)</label>
                                    <InputSelect id="binName" @bind-Value="inventoryAdd.LocationId" class="form-control">
                                        @foreach (var l in locations)
                                        {
                                            <option value="@l.LocationId">@l.BinName (@l.Warehouse.WarehouseName)</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => inventoryAdd.LocationId)" />
                                </div>
                            }
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="itemQuantity">Quantity</label>
                                <InputNumber id="itemQuantity" @bind-Value="inventoryAdd.ItemQuantity" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => inventoryAdd.ItemQuantity)" />
                            </div>
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="inventoryItemPrice">List Price</label>
                                <InputNumber id="inventoryItemPrice" @bind-Value="inventoryAdd.InventoryItemPrice" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => inventoryAdd.InventoryItemPrice)" />
                            </div>
                            <div class="mt-2 form-group">
                                <button type="submit" class="w-100 btn btn-primary" data-bs-dismiss="modal" disabled="@(!context.Validate())">Add</button>
                            </div>
                        }
                    </EditForm>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Button -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-modal">
        Edit
    </button>
    <!-- Edit Modal -->
    <div class="modal fade" id="edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit Inventory</h5>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="modal-body">
                    @if (!selected)
                    {
                        <p>Please select an inventory entry...</p>
                    }
                    else
                    {
                        <EditForm Model="inventoryEdit" OnValidSubmit="HandleInventoryEdit" class="w-100">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            @if (errorMessage != null)
                            {
                                <div class="alert alert-danger">@errorMessage</div>
                            }
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="inventoryIdEdit">ID</label>
                                <input id="inventoryIdEdit" Value="@inventoryEdit.InventoryId" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="itemIdEdit">Item</label>
                                <input id="itemIdEdit" Value="@inventoryEdit.ItemId" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="colorNameEdit">Color</label>
                                <input id="colorNameEdit" Value="@inventoryEdit.Color.ColorName" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="quantityTotalEdit">Total Quantity</label>
                                <input id="quantityTotalEdit" Value="@inventoryEdit.QuantityTotal" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="inventoryItemPriceEdit">List Price</label>
                                <InputNumber id="inventoryItemPriceEdit" @bind-Value="inventoryEdit.InventoryItemPrice" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => inventoryEdit.InventoryItemPrice)" />
                            </div>
                            <div class="mt-2 form-group">
                                <button type="submit" class="w-100 btn btn-primary" data-bs-dismiss="modal" disabled="@(!context.Validate())">Update</button>
                            </div>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="table-container">
        @if (inventories == null)
        {
            <span>Inventory loading...</span>
        }
        else
        {
            <!-- Data Table -->
            <table class="table table-striped border">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">Select</th>
                        <th scope="col">Image</th>
                        <th scope="col">ID</th>
                        <th scope="col">Item</th>
                        <th scope="col">Color</th>
                        <th scope="col">Total Quantity</th>
                        <th scope="col">List Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inventory in inventories)
                    {
                        <tr class="text-center">
                            <td>
                                <input type="radio" value='@inventory.InventoryId' name="inventory-select" @onchange="HandleSelect" />
                            </td>
                            <td><img src="@inventory.Image" onerror="this.src='https://static.bricklink.com/clone/img/no_image_err.png'" width="96"></td>
                            <td>@inventory.InventoryId</td>
                            <td>@inventory.ItemId</td>
                            <td>@inventory.Color!.ColorName</td>
                            <td>@inventory.QuantityTotal</td>
                            <td>$@inventory.InventoryItemPrice</td>
                            <td><button type="button" class="btn btn-info" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#more@(inventory.InventoryId)" aria-controls="more@(inventory.InventoryId)">Locations</button></td>
                        </tr>

                        <tr id="more@(inventory.InventoryId)" class="collapse">
                            <td colspan="8">
                                <table class="table table-sm table-secondary table-striped border">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">Warehouse</th>
                                            <th scope="col">Bin Name</th>
                                            <th scope="col">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var inventorylocation in inventory.InventoryLocations)
                                        {
                                            <tr class="text-center">
                                                <td>@inventorylocation.Location.Warehouse.WarehouseName</td>
                                                <td>@inventorylocation.Location.BinName</td>
                                                <td>@inventorylocation.ItemQuantity</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <!-- Table Pagination -->
            <div class="pagination-container">
                <input type="button" class="btn-lg btn" id="prev" @onclick="PrevPage" value="«" />
                @for (int i = curPage - 2; i <= curPage + 2; i++)
                {
                    int j = i;
                    @if (i > 0)
                    {
                        if (i == curPage)
                        {
                            <span class="px-2" style="font-weight:bold; cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                        }
                        else
                        {
                            <span class="px-2" style="cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                        }
                    }
                }
                <input type="button" class="btn-lg btn" id="next" @onclick="NextPage" value="»" />
            </div>
        }
    </div>
</div>
