@page "/items"
@using NTC_Lego.Shared
@inject HttpClient Http

@*
@model PaginatedList<Items>
*@

<PageTitle>Items</PageTitle>

<h3>Items</h3>

<div class="my-2">
    <a asp-controller="Admin" asp-action="AddItem" class="btn btn-secondary mx-1" role="button">Add</a>
    <a asp-controller="Admin" asp-action="EditItem" class="btn btn-primary mx-1" role="button">Edit</a>
    <a asp-controller="Admin" asp-action="DeleteItem" class="btn btn-secondary mx-1" role="button">Delete</a>

    <div class="input-group my-2">
        <a asp-controller="Admin" asp-action="Search" class="btn btn-primary mx-2" role="button">Search</a>
        <input type="text" class="form-control" aria-label="Search" placeholder="search here...">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Weight</th>
        </tr>
    </thead>

@*    @foreach (var item in items)
    {
        <tr>
            <td>@item.ItemType</td>
            <td>@item.ItemId</td>
            <td>@item.ItemName</td>
            <td>@item.Category</td>
            <td>@item.ItemWeight</td>
        </tr>
    }
*@
</table>

<Footer />

@code {
    //private Items[]? items;

    //protected override async Task OnInitializedAsync()
    //{
    //    items = await Http.GetFromJsonAsync<Items[]>("Items");
    //}
}
