@page "/items"
@using NTC_Lego.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject CurrentPage currentPage


<PageTitle>Items</PageTitle>

<div class="my-2">
    <div class="input-group my-2">
        <a class="btn btn-primary mx-2" role="button">Search</a>
        <input type="text" class="form-control" aria-label="Search" placeholder="search here...">
    </div>
</div>

@if (items == null)
{
    <span>Items loading...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Image</th>
                <th scope="col">Type</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Weight</th>
            </tr>
        </thead>

        @foreach (var item in items)
        {
            <tr>
                <td>
                    <input type="radio" id='@item.ItemId' name="item-select" />
                </td>
                <td><a href="@GetItemPage(item.ItemId,item.ItemTypeId)" target="_blank"><img src="@GetItemImage(item.ItemId,item.ItemTypeId)" width="96"></a></td>
                <td>@item.ItemTypeId</td>
                <td>@item.ItemId</td>
                <td>@item.ItemName</td>
                <td>@item.CategoryId</td>
                <td>@item.ItemWeight</td>
                <td>
                    <button class="btn btn-info btn-sm" @onclick="(() => ShowItem(item.ItemId))">View Item</button>
                </td>
            </tr>
        }
        <div>
            <input type="button" class="btn-lg btn" id="prev" @onclick="PrevPage" value="Previous" />

            @for (int i = curPage - 2; i <= curPage + 2; i++)
            {
                int j = i;
                @if (i > 0)
                {
                    if (i == curPage)
                    {
                        <span class="px-2" style="font-weight:bold; cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                    }
                    else
                    {
                        <span class="px-2" style="cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                    }
                }
            }
            <input type="button" class="btn-lg btn" id="next" @onclick="NextPage" value="Next" />
        </div>
    </table>
}

@code {
    private IEnumerable<Item>? items;
    private int pageSize = 15;
    private int curPage = 1;

    protected override async Task OnInitializedAsync()
    {
        await ShowPage();
    }

    protected async Task NextPage()
    {
        curPage++;
        await ShowPage();
    }

    protected async Task ShowPage(int page)
    {
        curPage = page;
        await ShowPage();
    }

    protected async Task PrevPage()
    {
        if (curPage > 1)
        {
            curPage--;
            await ShowPage();
        }
    }

    protected async Task ShowPage()
    {
        items = await Http.GetFromJsonAsync<List<Item>>($"/Admin?page={curPage}");
    }


    // *** Methods for getting item images and associated BrickLink URL ***
    // Implement by adding a column to the table and calling the methods in each row
    private string GetItemImage(string itemId, string itemTypeId, int colorId = 0)
    {
        int color = colorId;
        string itemType = itemTypeId;
        switch (itemTypeId)
        {
            case "S":
                itemType = "SN";
                break;
            case "P":
                itemType = "PN";
                break;
            default:
                itemType = "SN";
                break;
        }
        string path = $"https://img.bricklink.com/ItemImage/{itemType}/{color}/{itemId}.png";
        return path;
    }
    private string GetItemPage(string itemId, string itemTypeId)
    {
        string path = $"https://www.bricklink.com/v2/catalog/catalogitem.page?{itemTypeId}={itemId}";
        return path;
    }

    void ShowItem(string itemId) => NavigationManager.NavigateTo($"ItemView/{itemId}");

    protected override void OnInitialized()
    {
        currentPage.SetCurrentPageName("Items");
        base.OnInitialized();
    }

    void ChangeName() => currentPage.SetCurrentPageName("Name changed");
}
