@page "/purchases"
@using NTC_Lego.Shared
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject CurrentPage currentPage
@inject IJSRuntime JsRuntime

@attribute [Authorize(Roles = "Admin")]
<PageTitle>Purchase Orders</PageTitle>

<div class="container">
  
<!-- Create Button -->
    <button type="button" class="btn btn-success" @onclick="toggleModal">Add</button>
            
<!-- Create Modal -->
    <div class="add-purchase" style="@display" id="create-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModal" aria-hidden="true">

        <div class="modal-header">
            <h3 class="modal-title" id="staticBackdropLabel">Add Purchase Order</h3>
            <button type="button" class="btn btn-danger" @onclick="toggleModal">Cancel</button>
        </div>

        <div>
        <EditForm Model="purchaseAdd" OnValidSubmit="HandlePurchaseAdd" class="w-100">
            <div class="modal-body">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="form-group">
                <label class="required form-label fw-bold" for="date">Date</label>
                <input id="date" Value="@purchaseAdd.PurchaseOrderDate" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label class="required form-label fw-bold" for="status">Status</label>
                <input id="status" Value="@purchaseAdd.OrderStatus" class="form-control" disabled />
            </div>
            @if (suppliers == null)
            {
                <p>Suppliers loading...</p>
            }
            else
            {
                <div class="form-group">
                    <label class="required form-label fw-bold" for="binName">Supplier</label>
                    <InputSelect id="binName" @bind-Value="purchaseAdd.SupplierId" class="form-control">
                        @foreach (var s in suppliers)
                        {
                            <option value="@s.SupplierId">@s.SupplierName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => purchaseAdd.SupplierId)" />
                </div>
            }

            <div class="form-group">
                <label class="required form-label fw-bold" for="details">Order Details</label>
                <div>
                    <table class="table table-striped border">
                        <thead class="table-dark">
                            <tr class="text-start">
                                <th scope="col">Actions</th>
                                <th scope="col">Item</th>
                                <th scope="col">Color</th>
                                <th scope="col">Location</th>
                                <th scope="col" class="text-end">Quantity</th>
                                <th scope="col" class="text-end">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in purchaseDetailsAdd)
                            {
                                <tr class="text-start">
                                    <td>
                                        <button type="button" class="btn btn-danger" @onclick="@(()=>HandleDetailCancel(detail))">Remove</button>
                                    </td>
                                    <td>@detail.ItemId</td>
                                    <td>@detail.ColorId</td>
                                    <td>@detail.LocationId</td>
                                    <td class="text-end">@detail.Quantity</td>
                                    <td class="text-end">$@detail.Price</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="text-end">
                                <td colspan="1" class="text-start">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#detail-modal">
                                        Add
                                    </button>
                                </td>
                                <td colspan="5"><b>Total:</b> $@purchaseDetailsAdd.Sum(x=>x.Price * x.Quantity)</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <div class="mt-2 form-group">
                        <button type="submit" class="w-100 btn btn-primary" @onclick="toggleModal" disabled="@(!context.Validate())">Place Order</button>
                </div>
            </div>
        </EditForm>
        </div>
    </div>

    <!-- Detail Modal -->
    <div class="modal" id="detail-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add purchase detail</h5>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

                <div class="modal-body">
                    <EditForm Model="purchaseDetailAdd" OnValidSubmit="HandleDetailAdd" class="w-100">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        @if (errorMessage != null)
                        {
                            <div class="alert alert-danger">@errorMessage</div>
                        }
                        <div class="form-group">
                            <label class="required form-label fw-bold" for="itemId">Item</label>
                            <InputText id="itemId" Value="@purchaseDetailAdd.ItemId" ValueChanged="HandleItemChange" ValueExpression="() => purchaseDetailAdd.ItemId" class="form-control"></InputText>
                            <ValidationMessage For="@(() => purchaseDetailAdd.ItemId)" />
                        </div>
                        @if (!hideRest)
                        {
                            @if (colors == null)
                            {
                                <p>Colors loading...</p>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="colorId">Color</label>
                                    <InputSelect id="colorId" @bind-Value="purchaseDetailAdd.ColorId" class="form-control">
                                        @foreach (var c in colors)
                                        {
                                            <option value="@c.ColorId">@c.ColorName</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => purchaseDetailAdd.ColorId)" />
                                </div>
                            }

                            @if (locations == null)
                            {
                                <p>Locations loading...</p>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="binName">Bin (Warehouse)</label>
                                    <InputSelect id="binName" @bind-Value="purchaseDetailAdd.LocationId" class="form-control">
                                        @foreach (var l in locations)
                                        {
                                            <option value="@l.LocationId">@l.BinName (@l.Warehouse.WarehouseName)</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => purchaseDetailAdd.LocationId)" />
                                </div>
                            }
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="quantity">Quantity</label>
                                <InputNumber id="quantity" @bind-Value="purchaseDetailAdd.Quantity" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => purchaseDetailAdd.Quantity)" />
                            </div>
                            <div class="form-group">
                                <label class="required form-label fw-bold" for="itemPrice">Price</label>
                                <InputNumber id="itemPrice" @bind-Value="purchaseDetailAdd.Price" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => purchaseDetailAdd.Price)" />
                            </div>
                            <div class="mt-2 form-group">
                                <button type="submit" class="w-100 btn btn-primary" data-bs-dismiss="modal" disabled="@(!context.Validate())">Add</button>
                            </div>
                        }
                    </EditForm>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Button -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Cancel
    </button>

    <!-- Delete Modal -->
    <div class="modal fade" id="delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete purchase</h5>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="modal-body">
                    @if (!selected)
                    {
                        <p>Please select an purchase order entry...</p>
                    }
                    else
                    {
                        @if (canCancel && !alreadyCanceled)
                        {
                            <EditForm Model="purchaseOrderCancel" OnValidSubmit="HandlePurchaseCancel" class="w-100">
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="purchaseId">ID</label>
                                    <input id="purchaseId" Value="@purchaseOrderCancel.PurchaseOrderId" class="form-control" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="purchaseDate">Date</label>
                                    <input id="purchaseDate" Value="@purchaseOrderCancel.PurchaseOrderDate" class="form-control" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="purchaseStatus">Status</label>
                                    <input id="purchaseStatus" Value="@purchaseOrderCancel.OrderStatus" class="form-control" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="purchaseSupplier">Supplier</label>
                                    <input id="purchaseSupplier" Value="@purchaseOrderCancel.Supplier.SupplierName" class="form-control" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="required form-label fw-bold" for="purchaseTotal">Total</label>
                                    <input id="purchaseTotal" Value="@purchaseOrderCancel.PurchaseOrderTotalPrice" class="form-control" disabled />
                                </div>
                                <div class="mt-2 form-group">
                                    <button type="submit" class="w-100 btn btn-primary" data-bs-dismiss="modal">Confirm Cancel</button>
                                </div>
                            </EditForm>
                        }
                        else if (alreadyCanceled)
                        {
                            <p>This purchase order has already been canceled...</p>
                        }
                        else
                        {
                            <p>Selected purchase order date exceeds 30 day return limit...</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="table-container">
        <!-- Purchase Order table -->
        @if (purchaseOrders == null)
        {
            <span>Purchase Orders loading...</span>
        }
        else
        {
            <!-- Data Table -->
            <table class="table table-striped border">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">Select</th>
                        <th scope="col">ID</th>
                        <th scope="col">Total</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Supplier</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var purchase in purchaseOrders)
                    {
                        <tr class="text-center">
                            <td>
                                <input type="radio" value='@purchase.PurchaseOrderId' name="purchase-select" @onchange="HandleSelect" />
                            </td>
                            <td>@purchase.PurchaseOrderId</td>
                            <td>$@purchase.PurchaseOrderTotalPrice</td>
                            <td>@purchase.PurchaseOrderDate</td>
                            <td>@purchase.OrderStatus</td>
                            <td>@purchase.Supplier.SupplierName</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- Table Pagination -->
            <div class="pagination-container">
                <input type="button" class="btn-lg btn" id="prev" @onclick="PrevPage" value="«" />
                @for (int i = curPage - 2; i <= curPage + 2; i++)
                {
                    int j = i;
                    @if (i > 0)
                    {
                        if (i == curPage)
                        {
                            <span class="px-2" style="font-weight:bold; cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                        }
                        else
                        {
                            <span class="px-2" style="cursor:pointer" @onclick="() => ShowPage(j)">@i</span>
                        }
                    }
                }
                <input type="button" class="btn-lg btn" id="next" @onclick="NextPage" value="»" />
            </div>
        }
    </div>
</div>
