@page "/profile"
@using NTC_Lego.Shared

<div class="card" style="max-width: 50%;">
<h2>Profile</h2>
</div>
<br><br/>
<!-- Dummy data to display user info -->
@{
    var user = new User()
    {
        UserName = "John Smith",
        UserEmail = "jsmith@gmail.com",
    };
}

<!--Displays user's basic profile info -->
<div class="card" style="max-width: 50%;">
    <div class="card-body">
        <h5 class="card-title">User Information</h5>
        <p class="card-text">Username: @(user.UserName)</p>
        <p>Email: @(user.UserEmail)</p>
    </div>
</div>
<br><br/>

<div class="card" style="max-width: 50%;">
<h3>Order History</h3>
</div>
<!-- Table for User's OrderHistory (Needs to load data from migrations)-->
<table class="tableSalesOrder">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">TotalPrice</th>
            </tr>
        </thead>
        <tbody>
        <!-- Table filler-->
        <tr>
            <td>1</td>
            <td>@DateTime.Now.ToString("MM/dd/yyyy")</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>@DateTime.Now.ToString("MM/dd/yyyy")</td>
            <td>15</td>
        </tr>
        </tbody>

         
    @*@foreach (var so in user.SaleOrders)
    {
        <tr>
            <td>@so.SaleOrderId</td>
            <td>@so.SaleOrderDate</td>
            <td>@so.SaleOrderTotalPrice</td>
        </tr>
    }*@
</table>

<br><br/>

<!-- User's available credit cards -->
<div class="card" style="max-width: 50%;">
<h3>Credit Cards</h3>
</div>
       
