@model IEnumerable<Review>

<div>
    <table class="table">
        <tr>
            <th>Game</th>
            <th>User</th>
            <th>Comment</th>
            <th>Star Count</th>
            <th>Remove/edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Game.Name</td>
                <td>@item.User.Username</td>
                <td>@item.Comment</td>
                <td>@item.StarCount</td>
                <td><a asp-controller="Admin" asp-action="EditReview" asp-route-id="@item.ReviewId">Edit</a> | <a
                    asp-controller="Admin" asp-action="DeleteReviewConfirm" asp-route-id="@item.ReviewId">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>