@model GamelibraryReviewModel
<h1 class="text-center">Your Games</h1>
<hr>
@if (Model != null)
{
    @foreach (var gameLibrary in Model.gameLibraries)
    {
        <div class="bg-dark card col-sm-3">
            <div class="bg-dark card-body text-center">
                <h3 class="text-light card-title">@gameLibrary.Game.Name</h3>
                <p class="text-light card-text"><strong>Rated:</strong> @gameLibrary.Game.Rating.Name</p>
                <div class="text-center">
                    @if (Model.Reviews.Count == 0)
                    {
                        <a class="btn btn-primary" asp-controller="Account" asp-action="AddReview"
                asp-route-id="@gameLibrary.GameId">Give your thoughts</a>
                    }
                    else
                    {
                        var count = 0;
                        var done = false;
                        @foreach (var review in Model.Reviews)
                        {
                            count++;
                            @if (@review.Game == @gameLibrary.Game && @review.User == @Model.user)
                            {
                                <p>Stars: @review.StarCount</p>
                                <p>Comment: @review.Comment</p>
                                <a class="btn btn-primary my-1" asp-controller="Account" asp-action="EditReview"
                asp-route-id="@review.ReviewId">Edit</a>
                                <a class="btn btn-primary my-1" asp-controller="Account" asp-action="DeleteReview"
                asp-route-id="@review.ReviewId">Delete</a>
                                done = true;
                            }
                            else if (count >= Model.Reviews.Count && done == false)
                            {
                                <a class="btn btn-primary my-1" asp-controller="Account" asp-action="AddReview"
                asp-route-id="@gameLibrary.GameId">Give your thoughts</a>
                            }
                        }
                    }
                </div>
                <div class="text-center">
                    <a class="btn btn-primary my-1" asp-controller="Account" asp-action="UninstallGameConfirm"
                asp-route-id="@gameLibrary.GameLibraryId">Uninstall</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>You have no games downloaded</p>
}